---
layout: default
---

    <div>

        <section id="about" class="elevated-medium bg-complement">

            {{content}}

        </section>
        
        <section id="projects" class="elevated-medium bg-complement">
            <h2 class="bg-dominant">Mijn Projecten</h2>
            <ul>

            {% for project in site.projects %}
        
            <li>
                <a href="{{ project.url }}">
                    <article class="elevated-high bg-complement"></article>
                        <img src="/assets/images/projecten.jpg" alt="{{project.title}} image" class="full-bleed | banner">
                        <h3>{{ project.title }}</h3>
                    </article>
                </a>
            </li>
        
            {% endfor %}
                    
            </ul>
        </section>

    </div>

    <section id="blogposts">
        <h2 class="bg-dominant">Mijn blogposts</h2>

        {% for post in site.posts %}
    
        <a href="{{ post.url }}">
            <article class="elevated-high bg-complement">
                <img src="/assets/images/blogposts.jpg" alt="{{post.title}} image" class="full-bleed | banner">
                <h1>{{ post.title }}</h1>
                <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%-d-%m-'%y" }}</time>
                {{ post.excerpt }}
            </article>
        </a>
    
        {% endfor %}

    </section>